*{
    font-family: "Ruda", sans-serif;
}
header{
    background-color: #173B45;
}
header span{
color: #F8EDED;
}
.nav-item a{
    color:#F8EDED;
}
.nav-item a:visited{
    color: #F8EDED;
}
.nav-item a:hover{
    color: #B43F3F;
}

#nav-button{
    background-color: #FF8225;
}
.feature-icon .icono-habilidasdes{
    color:#B43F3F ;
    font-size: 2em;  
}

.img-proyecto1{
    background-image: url('/assets/clon-pin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.img-proyecto1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-proyecto1 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}
footer{
    background-color: #F8EDED;
}

footer.icon-footer i{
color:#cf3d19 ;
}
footer p{
   color: #173B45; 
}
footer p a{
    color:#FF8225; 
}
footer ul a i{
    color: #B43F3F;
}
#app{
    color: #B43F3F;
}